/* Custom CSS styles that extends Bootstrap framework*/

/* Custom color palette */
.bg-purple {
    background-color: rgb(173, 15, 173) !important;
}

.text-bg-purple {
    background-color: rgb(173, 15, 173) !important;
    color: white !important;
}

.bike_no_components {
    background-color: #979e9e !important; /* Enhance the secondary color for "no components" status */
    color: white !important;
}

.bike_healthy {
    background-color: #2967b9 !important; /* Enhance the info color for healthy components */
    color: white !important;
}

.bike-critical {
    background-color: #b98356 !important; /* Custom styling for the critical status bikes */
    color: white !important;
}    

/* Styling of sorting */
th[data-sort] {
    cursor: pointer;
    white-space: nowrap;} /* Prevent wrapping of text and arrow */

th[data-sort]:hover {
    background-color: #f0f0f0;}

.sort-indicator {
    display: inline-block;
    margin-left: 5px; /* Add some space between text and arrow */
    font-size: 0.8em;
    color: #999;
}
.sort-indicator::after {
    content: '\25B2\25BC';} /* Up and down arrows */

th[data-sort].sorted-asc .sort-indicator::after {
    content: '\25B2'; /* Up arrow */
    color: #333;} /* Darker color for active sort */

th[data-sort].sorted-desc .sort-indicator::after {
    content: '\25BC'; /* Down arrow */
    color: #333;} /* Darker color for active sort */

/* Styling of card hover effect */
.card.hover-effect {
    transition: transform 0.2s ease-in-out;
}
.card.hover-effect:hover {
    transform: translateY(-7px);
    transition: transform 0.3s ease;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2)
}

/* Styling of input modals */
.input-modal-header {
    padding-left: 15px;
    background: linear-gradient(to right, #cccdce, rgb(188, 212, 235));
}

.input-modal-title {
    font-weight: 600;
    letter-spacing: 0.5px;
}

/* Styling of form fields */
.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.15);
    transition: box-shadow 0.2s ease-in-out;
    transform: translateY(-1px);
}

/* Styling of calendar toggle */
.date-toggle-clickable {
    cursor: pointer !important;
    pointer-events: auto !important;
    z-index: 100;
    position: relative;
}