{% extends "base.html" %}

{% block title %}Component types - Velo Supervisor 2000{% endblock %}

{% block content %}   
<h1 class="display-5 mt-5 text-center">Component types</h1>
<div class="mt-5 card shadow mb-3">
    <div class="card-header fw-bold">
        Add or modify component type
    </div>
    <div class="card-body">
        <form id="component_type_form" class="row" action="/component_types_modify" method="post" enctype="application/x-www-form-urlencoded">
            <div class="col mb-3">
                <label for="component_type" class="form-label fw-bold">Type</label>
                <input type="text" class="form-control" id="component_type" name="component_type" required>
            </div>
            <div class="col mb-3">
                <label for="expected_lifetime" class="form-label fw-bold">Expected lifetime (km)</label>
                <input type="number" class="form-control" id="expected_lifetime" name="expected_lifetime" oninput="validateInputNumbers(this)">
            </div>
            <div class="col mb-3">
                <label for="service_interval" class="form-label fw-bold">Serivce interval (km)</label>
                <input type="number" class="form-control" id="service_interval" name="service_interval" oninput="validateInputNumbers(this)">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary" form="component_type_form" id="submit_btn">Save</button>
            </div>
        </form>
    </div>
</div>
<div class="mt-5 card shadow mb-3">
    <div class="card-header fw-bold">
        Available component types
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Expected lifetime (km)</th>
                    <th>Service interval (km)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if payload.component_types %}
                    {% for component_type, expected_lifetime, service_interval in payload.component_types %}
                    <tr data-row-id="{{ loop.index0 }}">
                        <td>{{ component_type }}</td>
                        <td>{% if expected_lifetime == None %}Not defined{% else %}{{ expected_lifetime }}{% endif %}</td>
                        <td>{% if service_interval == None %}Not defined{% else %}{{ service_interval }}{% endif %}</td>
                        <td>                    
                            <button type="button" class="btn btn-outline-success btn-sm modify-record" component_type="{{ component_type }}" data-row-id="{{ loop.index0 }}">✍</button>
                            <button type="button" class="btn btn-outline-danger btn-sm delete-record" data-component-type="{{ component_type }}">🗑</button>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4" class="text-center">No component types defined</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}