<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Component details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/dark.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <style>
        .bg-purple {
    background-color: rgb(173, 15, 173) !important;}
    </style>
</head>
<body>
    <div class="container mt-5">
        <nav class="navbar">
            <a class="navbar-brand mb-0 h1" href="#">
                <img src="/static/logo.png" width="30" height="24" class="d-inline-block align-text-top" alt="Logo">VELO SUPERVISOR 2000
            </a>
            <ul class="nav nav-tabs">
                <li class="nav-item">   
                    <a class="nav-link link-secondary" href="/">🚴 BIKE OVERVIEW</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-secondary" href="/component_overview">⚙ COMPONENT OVERVIEW</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-secondary" href="/component_types_overview">📋 COMPONENT TYPES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-secondary" href="#">🙋 HELP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-secondary" href="#">📜 ABOUT</a>
                </li>
            </ul>
        </nav>
        <h1 class="display-5 mt-5 text-center">Component details</h1>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card shadow mb-4">
                    <div class="card-header fw-bold text-bg-{% if payload.bike_component_data['lifetime_status'] == 'Not defined' and payload.bike_component_data['service_status'] == 'Not defined' %}secondary{% elif payload.bike_component_data['lifetime_status'] == 'Lifetime reached' or payload.bike_component_data['service_status'] == 'Due for service' %}danger{% elif payload.bike_component_data['lifetime_status'] == 'Lifetime approaching' or payload.bike_component_data['service_status'] == 'Service approaching' %}warning{% else %}success{% endif %}">{{ payload.bike_component_data['component_name'] }}</div>
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if payload.bike_component_data['installation_status'] == 'Installed' %}⚙ {{ payload.bike_component_data['installation_status'] }} at {{ payload['bike_name'] }}{% elif payload.bike_component_data['installation_status'] == 'Not installed' %}💤 {{ payload.bike_component_data['installation_status'] }}{% elif payload.bike_component_data['installation_status'] == 'Retired' %}⛔ {{ payload.bike_component_data['installation_status'] }}{% endif %}</h5>
                        <hr/>
                        <span class="fw-bold">📍 Mileage {{ payload.bike_component_data['component_distance'] }} km</span>
                        <hr/>
                        <span class="fw-bold">🚳 {% if payload.bike_component_data['lifetime_status'] == 'Not defined' %}Expected lifetime not defined{% else %}Lifetime reached in {{ payload.bike_component_data['lifetime_remaining'] }} km{% endif %}</span>
                        <div class="progress" role="progressbar" aria-label="Lifetime bar" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar progress-bar-striped 
                            {% if payload.bike_component_data['lifetime_status'] == 'Not defined' %}
                                bg-secondary-subtle
                            {% elif payload.bike_component_data['lifetime_status'] == 'OK' %}
                                bg-success
                            {% elif payload.bike_component_data['lifetime_status'] == 'End of life approaching' %}
                                bg-warning
                            {% elif payload.bike_component_data['lifetime_status'] == 'Due for replacement' %}
                                bg-danger
                            {% else %}
                                bg-purple
                            {% endif %}" 
                            style="width: {{ payload.bike_component_data['lifetime_percentage'] }}%">
                            </div>
                        </div>
                        <hr/>
                        <span class="fw-bold">🧑‍🔧 {% if payload.bike_component_data['service_status'] == 'Not defined' %}Service interval not defined{% else %}Next service in {{ payload.bike_component_data['service_next'] }} km{% endif %}</span>
                        <div class="progress" role="progressbar" aria-label="Service bar" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar progress-bar-striped 
                            {% if payload.bike_component_data['service_status'] == 'Not defined' %}
                                bg-secondary-subtle
                            {% elif payload.bike_component_data['service_status'] == 'OK' %}
                                bg-success
                            {% elif payload.bike_component_data['service_status'] == 'Service approaching' %}
                                bg-warning
                            {% elif payload.bike_component_data['service_status'] == 'Due for service' %}
                                bg-danger
                            {% else %}
                                bg-purple
                            {% endif %}" 
                            style="width: {{ payload.bike_component_data['service_percentage'] }}%">
                            </div>
                        </div>
                        <hr/>
                        <p class="card-text d-flex justify-content-between align-items-center">
                            <span class="fw-bold">🔑 Component ID: {{ payload.bike_component_data['component_id'] }}</span>
                        </p>  
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card shadow mb-3">
                    <div class="card-header fw-bold">Modify component</div>
                    <div class="card-body">
                        <form id="component_type_form" class="row align-items-center" action="/component_modify" method="post" enctype="application/x-www-form-urlencoded">
                            <input type="hidden" id="component_id" name="component_id" value="{{ payload.bike_component_data['component_id'] }}">
                            <div class="col-md-7 mb-3">
                                <div class="row align-items-center">
                                    <div class="col-md-4">
                                    <select class="form-select" id="component_installation_status" name="component_installation_status">
                                        <option value="Installed" {% if payload.bike_component_data['installation_status'] == "Installed" %}selected{% endif %}>Installed</option>
                                        <option value="Not installed" {% if payload.bike_component_data['installation_status'] == "Not installed" %}selected{% endif %}>Not installed</option>
                                        <option value="Retired" {% if payload.bike_component_data['installation_status'] == "Retired" %}selected{% endif %}>Retired</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 mb-3">
                                <div class="row align-items-center">
                                    <label for="component_updated_date" class="col-form-label col-auto fw-bold">Updated date</label>
                                        <div class="col">
                                            <input type="text" class="form-control flatpickr-input" id="component_updated_date" name="component_updated_date" value="{{ payload.bike_component_data['updated_date'] }}" required>
                                        </div>
                                </div>   
                            </div>
                              <hr/>
                            <div class="col-md-4 mb-3">
                                <label for="component_name" class="form-label fw-bold">Name</label>
                                <input type="text" class="form-control" id="component_name" name="component_name" value="{{ payload.bike_component_data['component_name'] }}" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="component_type" class="form-label fw-bold">Type</label>
                                <select class="form-select" id="component_type" name="component_type" required>
                                    {% for component_type, suggested_lifetime_expected, suggested_service_interval in payload.component_types_data %}
                                        <option value="{{ component_type }}"
                                            expected_lifetime="{{ suggested_lifetime_expected }}"
                                            service_interval="{{ suggested_service_interval }}"
                                            {% if component_type == payload.bike_component_data['component_type'] %}selected{% endif %}>
                                            {{ component_type }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="component_bike_id" class="form-label fw-bold">Bike</label>
                                <select class="form-select" id="component_bike_id" name="component_bike_id">
                                    <option value="">Not assigned</option>
                                    {% for bike_name, bike_id in payload.bikes_data %}
                                        <option value="{{ bike_id }}"
                                        {% if bike_id == payload.bike_component_data['bike_id'] %}selected{% endif %}>
                                        {{ bike_name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="expected_lifetime" class="form-label fw-bold">Expected lifetime (km)</label>
                                <input type="number" class="form-control" id="expected_lifetime" name="expected_lifetime" value="{{ payload.bike_component_data['lifetime_expected'] }}" oninput="validateInput(this)">
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="service_interval" class="form-label fw-bold">Serivce interval (km)</label>
                                <input type="number" class="form-control" id="service_interval" name="service_interval" value="{{ payload.bike_component_data['service_interval'] }}" oninput="validateInput(this)">
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="cost" class="form-label fw-bold">Cost (kr)</label>
                                <input type="number" class="form-control" id="cost" name="cost" value="{{ payload.bike_component_data['cost'] }}">
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="offset" class="form-label fw-bold">Offset (km)</label>
                                <input type="number" class="form-control" id="offset" name="offset" value="{{ payload.bike_component_data['offset'] }}">
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="component_notes" class="form-label fw-bold">Notes</label>
                                <textarea class="form-control" id="component_notes" name="component_notes" rows="3">{% if payload.bike_component_data['component_notes'] %}{{ payload.bike_component_data['component_notes'] }}{% else %}{% endif %}</textarea>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary" form="component_type_form" id="submit_btn" {% if payload.bike_component_data['installation_status'] == "Retired" %}disabled{% endif %}>Save</button>
                                <button type="submit" class="btn btn-outline-danger" form="component_type_form" id="clear_form_btn" {% if payload.bike_component_data['installation_status'] == "Retired" %}disabled{% endif %}>Clear form</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
            <hr/>
            <h4 class="fw-normal text-center">Maintenance</h4>
            <div class="card shadow mt-3 mb-3">
                <div class="card-header fw-bold">Add service</div>
                <div class="card-body">
                    <form id="service_form" class="row" action="/add_service" method="post" enctype="application/x-www-form-urlencoded">
                        <input type="hidden" id="component_id" name="component_id" value="{{ payload.bike_component_data['component_id'] }}">
                        <div class="col-md-2 mb-3">
                            <label for="service_date" class="form-label fw-bold">Date</label>
                            <div class="col">
                                <input type="text" class="form-control flatpickr-input" id="service_date" name="service_date" value="" required>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <label for="service_description" class="form-label fw-bold">Description</label>
                            <input type="text" class="form-control" id="service_description" name="service_description" oninput="validateInput(this)">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary" form="service_form" id="submit_btn_service" {% if payload.bike_component_data['installation_status'] == "Retired" %}disabled{% endif %}>Save</button>
                            <button type="submit" class="btn btn-outline-danger" form="service_form" id="clear_service_form_btn" {% if payload.bike_component_data['installation_status'] == "Retired" %}disabled{% endif %}>Clear form</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card shadow mb-3">
                <div class="card-header fw-bold">Service history</div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Bike</th>
                                <th>Mileage</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if payload.service_history_data %}
                                {% for service_date, description, bike_name, distance_marker in payload.service_history_data %}
                                <tr>
                                    <td>{{ service_date }}</td>
                                    <td>{{ description }}</td>
                                    <td>{{ bike_name }}</td>
                                    <td>{{ distance_marker }} km</td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="4" class="text-center">No service history data available</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <hr/>
            <h4 class="fw-normal text-center">Installation log</h4>
            <div class="card shadow mb-3">
                <div class="card-header fw-bold">Component history</div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Reason</th>
                                <th>Bike</th>
                                <th>Mileage</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if payload.component_history_data %}
                                {% for updated_date, update_reason, bike_name, mileage in payload.component_history_data %}
                                <tr>
                                    <td>{{ updated_date }}</td>
                                    <td>{% if update_reason == "Not installed" %}Uninstalled{% else %}{{ update_reason }}{% endif %}</td>
                                    <td>{{ bike_name }}</td>
                                    <td>{{ mileage }} km</td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="4" class="text-center">No installation history data available</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div> 
            <footer class="bg-primary-subtle rounded text-secondary text-center fw-bold">
                <div class="container mt-5">
                 <p>
                    Footer placeholder
                </p>
                </div>
            </footer>
        </div>
        
        </div>
        
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        // Fill expected lifetime and service interval based on selected component type
        document.addEventListener('DOMContentLoaded', function() {
            const typeSelect = document.getElementById('component_type');
            const serviceIntervalInput = document.getElementById('service_interval');
            const expectedLifetimeInput = document.getElementById('expected_lifetime');
    
            typeSelect.addEventListener('change', function() {
                const selectedOption = typeSelect.options[typeSelect.selectedIndex];
                const serviceInterval = selectedOption.getAttribute('service_interval');
                const expectedLifetime = selectedOption.getAttribute('expected_lifetime');
    
                // Update the input fields with the selected option's data attributes
                serviceIntervalInput.value = serviceInterval;
                expectedLifetimeInput.value = expectedLifetime;
            });
    
            // Optionally trigger the change event on page load if you want to set initial values
            // typeSelect.dispatchEvent(new Event('change')); Consider removing this one here
        });

        // Date picker
        flatpickr("#component_updated_date, #service_date", {
            disableMobile: true,
            theme: "dark", //not needed?
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            time_24hr: true,
            minuteIncrement: 1
        });

        // Control bike field - better description here
        document.addEventListener('DOMContentLoaded', function() {
            const bikeSelect = document.getElementById('component_bike_id');
            const installationSelect = document.getElementById('component_installation_status');

            bikeSelect.addEventListener('change', function() {
                if (installationSelect.value !== "Retired") {
                    if (this.value !== "") {
                        installationSelect.value = "Installed";
                    } else {
                        installationSelect.value = "Not installed";
                    }
                }
            });

            installationSelect.addEventListener('change', function() {
                if (this.value === "Not installed") {
                    bikeSelect.value = "";
                }
            });

            // Initial check on page load
            if (bikeSelect.value === "" && installationSelect.value !== "Retired") {
                installationSelect.value = "Not installed";
            }
        });
    </script>
</body>
</html>