{% extends "base.html" %}

{% block title %}Configuration - Velo Supervisor 2000{% endblock %}

{% block content %}
<h1 id="config" class="display-5 mt-5 text-center">Configuration</h1>        
<div class="mt-5 card shadow mb-5">
    <div class="card-header fw-bold">Actions</div>
        <div class="card-body">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-6">
                <div class="col">
                    <button class="btn btn-secondary w-100 update-button" 
                            data-endpoint="/refresh_rides/recent"
                            data-message="Retrieving recent rides...">
                        Get new rides
                    </button>
                </div>
                <div class="col">
                    <button class="btn btn-secondary w-100 update-button"
                            data-endpoint="/refresh_rides/all"
                            data-message="Retrieving all rides...">
                        Get all rides
                    </button>
                </div>
                <div class="col">
                    <button class="btn btn-secondary w-100 update-button"
                            data-endpoint="/refresh_all_bikes"
                            data-message="Refreshing all bikes...">
                        Refresh all bikes
                    </button>
                </div>
                <div class="col">
                    <a href="" class="btn btn-secondary w-100">Export dataset</a>
                </div>
                <div class="col">
                    <a href="" class="btn btn-outline-danger w-100">Reset database</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-warning-subtle">
                <div class="modal-body text-center">
                    <div class="spinner-border text-primary mb-2" role="status"></div>
                    <h5 class="mb-2" id="loadingMessage"></h5>
                    <p class="mb-0">This may take a moment, hold your horses 🚴</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow mb-5">
        <div class="card-header fw-bold">Settings</div>
        <div class="card-body">
            <form id="config_form" class="row" action="/update_config" method="post">
                <div class="col mb-3">
                    <label for="db_path" class="form-label fw-bold">Path to database</label>
                    <input type="text" class="form-control" id="db_path" name="db_path" value="{{ payload.db_path }}" required>
                </div>
                <div class="col mb-3">
                    <label for="strava_tokens" class="form-label fw-bold">Path to oauth file</label>
                    <input type="text" class="form-control" id="strava_tokens" name="strava_tokens" value="{{ payload.strava_tokens }}">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Save and restart</button>
                </div>
            </form>
        </div>
    </div>
    <div class="card shadow mb-3">
        <div class="card-header fw-bold">Latest log entries</div>
        <div class="card-body">
            <div id="log-container" style="height: 250px; overflow-y: auto;">
                <ul id="log-entries" class="list-group list-group-flush">
                    <!-- Log entries will be populated here -->
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

