{% extends "base.html" %}

{% block title %}Bike overview - Velo Supervisor 2000{% endblock %}

{% block content %}
<h1 id="bike-overview" class="display-5 mt-5 text-center">Bike overview</h1>
<div class="d-flex justify-content-end mb-3 pe-2">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="showRetiredBikes">
        <label class="form-check-label fw-bold" for="showRetiredBikes">Show retired bikes</label>
    </div>
</div>
<div class="row">
    {% for name, bike_id, bike_status, service_lifetime_status, distance, count_installed, count_retired in payload.bikes_data %}
        <div class="col-md-4 mb-3">
            <div class="card shadow" data-bike-status="{{ bike_status }}">
                <a href="/bike_details/{{ bike_id }}" class="text-decoration-none text-reset">
                    <div class="card-header h5 fw-bold text-bg-
                        {%- if service_lifetime_status == 'No components registered' or service_lifetime_status == 'No active components' -%}
                            light
                        {%- elif service_lifetime_status == 'Maintenance not defined' -%}
                            secondary
                        {%- elif service_lifetime_status == 'Breakdown imminent' -%}
                            purple
                        {%- elif service_lifetime_status == 'Maintenance required' -%}
                            danger
                        {%- elif service_lifetime_status == 'Maintenance approaching' -%}
                            warning
                        {%- elif service_lifetime_status == 'Pristine condition' -%}
                            success
                        {%- endif -%}">
                        {{ name }}
                    </div>
                </a>
                <div class="card-body">
                    <h6 class="card-title fw-bold">{{ service_lifetime_status }}</h6>
                    <p class="card-text d-flex justify-content-between align-items-center">
                        <span>{% if bike_status == 'False' %}🟩 Active {% elif bike_status == 'True' %}🟥 Retired {% endif %}📍{{ distance }} km ⚡ {{ count_installed }} components</span>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
