<div class="modal fade" id="incidentRecordModal" tabindex="-1" aria-labelledby="incidentRecordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header input-modal-header">
                <h5 class="modal-title input-modal-title" id="incidentRecordModalLabel">Create incident report</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="component_overview_form" class="row" action="/create_component" method="post" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" id="incidentId" name="incidentId">
                    <div class="col-md-3 mb-3">
                        <label for="component_updated_date" class="form-label fw-bold">Updated date</label>
                        <div class="input-group date-input-group">
                            <input type="text" class="form-control datepicker-input" id="incident_updated_date" name="incident_updated_date" value="" required>
                            <span class="input-group-text datepicker-toggle">🗓</span>
                        </div>
                    </div>  
                    <div class="col-md-3 mb-3">
                        <label for="incident_severity" class="form-label fw-bold">Severity</label>
                        <select class="form-select" id="incident_severity" name="incident_severity" required>
                            <option value="monitor" selected>Monitor</option>
                            <option value="next_service">Next service</option>
                            <option value="critical">Critical</option>
                        </select>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="affected_component_ids" class="form-label fw-bold">Components</label>
                        <select class="form-select" id="affected_component_ids" name="affected_component_ids">
                            <option value="" ></option>
                        </select>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="affected_bike_id" class="form-label fw-bold">Bike</label>
                        <select class="form-select" id="affected_bike_id" name="affected_bike_id">
                            <option value="" {% if not duplicate_data or not duplicate_data.bike_id %}selected{% endif %}></option>
                                {% for bike_name, bike_id in payload.bikes_data %}
                                    <option value="{{ bike_id }}"
                                        {% if duplicate_data and bike_id == duplicate_data.bike_id %}selected{% endif %}>
                                        {{ bike_name }}
                                    </option>
                                {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="incident_status" class="form-label fw-bold">Status</label>
                        <select class="form-select" id="incident_status" name="incident_status" required>
                            <option value="Installed">Open</option>
                            <option value="Not installed">Resolved</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="component_notes" class="form-label fw-bold">Notes</label>
                        <textarea class="form-control" id="component_notes" name="component_notes" rows="1">{{ duplicate_data.component_notes if duplicate_data else '' }}</textarea>
                    </div>
                </form>
                <div class="modal-footer px-0 pb-0">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" form="component_overview_form" id="submit_btn">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>