<div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-warning-subtle">
            <div class="modal-body text-center">
                <div class="spinner-border text-primary mb-2" role="status"></div>
                <h5 class="mb-2" id="loadingMessage"></h5>
                <p class="mb-0">This may take a moment, hold your horses 🚴</p>
            </div>
        </div>
    </div>
</div>